.catch-modal-background {
    width: 100vw;
    height: 100vh;
    background-color: rgb(200, 200, 200, 0.5);
    position: fixed;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .catch-modal-container {
    width: 50%;
    height: 50%;
    background-color: #FCCF00;
    border-color: #2468B1;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    /* display: flex; */
    /* flex-direction: column; */
    padding: 25px;
    position: relative;
  }

  .catch-modal-body {
    position: relative;
    top: 40%;
    font-weight: bold;
    font-size: 20px;
  }

  .catch-modal-content-body{
      position: relative;
      margin-top: 2.5%;
  }

  .catch-input{
      position: relative;
      width: 50%;
      padding-top: 5px;
      padding-bottom: 5px;
      border-color: #2468B1;
      border-width: 2.5px;
      border-style: solid;
      border-radius: 5px;
  }

.catch-modal-footer{
    position: relative;
    margin-top: 10%;
}

  .catch-close-button{
      /* margin-top: 25%; */
      margin-left: 2%;
      margin-right: 2%;
      background-color: #FF0000;
      color: white;
      padding: 10px 20px;
      text-decoration: none;
      text-align: center;
      cursor: pointer;
      border: none;
      border-radius: 5px;
  }